*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header{
    background-color: #255ee9;
    padding: 1.2rem 4rem 1rem 10rem;
}

.header,
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header button{
    color: black;
}
li{
    list-style-type: none;
    list-style: none;
    margin-right: 2rem;
    color: white;
    font-size: 1.2rem;
}


button{
    margin-right: 1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 30px;
    border: none;
    background-color: white;
}



/* jumbo */


section.jumbo{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: 120px 20% 120px 20%;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.jumbo h1{
    color: white;
    font-size: 3rem;

}

.jumbo p{
    justify-content: center;
    align-items: center;
    padding: 40px 40px 10px 40px;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    color: white;

}


div button:last-child{
    background-color: #23272a;
    color: white;
}
div button{
    font-size: 1.5rem;
}


/* prima sezione  */

div h2{
    font-size: 3.4rem;
}

section.section_main{
    display: flex;
    padding: 75px;

}

.section_main img{
    display: flex;
    width: calc(65% - 75px);
    padding-left: 80px;
}

.section_main div{
    width: 35%;
    align-content: center;
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 20px;
}

div .text_p{
    padding-top: 20px;
    font-size: 1.2rem;
    line-height: 1.8rem;
}


/* seconda sezione */


section.section_main_due{
    display: flex;
    padding-bottom: 50px;
}

.section_main_due div{
    display: flex;
    width: 35%;
    align-self: center;
    flex-direction: column;
    padding-left: 150px;
}

.section_main_due img{
    width: calc(65% - 150px);
    display: flex;
    padding: 20px 0 20px 20px;

}